@import "./variables";

.hero {
  height: 90vh;
  //border: 3px solid green;
  width: 52.5%;
  //background: white;
  .hero-content {
    //border: 1px solid red;
    z-index: 2;
    //color: white;
    position: absolute;
    top: 20%;
    left: 7rem;
    width: 42.5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    //align-items: left;
    text-align: left;
    h1 {
      color: black;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 1rem;
      span {
        font-weight: 700;
      }
    }
    p {
      font-size: 1rem;
      color: $text-grey;
    }
    .action-content {
      display: flex;
      margin-top: 3rem;
      .action-btn {
        border: none;
        color: white;
        font-size: 1.5rem;
        background: $action-green;
        padding: 0.6rem 1.8rem;
        cursor: pointer;
      }
      .mobile {
        display: none;
      }
    }
  }
}

.hero-img-mobile {
  display: none;
  position: relative;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  //opacity: 0.6;
}

.black-bg-overlay {
  display: none;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.71);
}

.hero-img-desktop {
  /* min-height: 800px; */
  width: 45%;
  //max-width: 50%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  -webkit-box-shadow: 5px 8px 7px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 8px 7px -1px rgba(0, 0, 0, 0.45);
}

@media (max-width: 1280px) {
  .hero {
    height: 100vh;
    width: 100%;
    //display: none;

    .hero-content {
      z-index: 2;
      color: white;
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: 60%;
      width: 60vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h1 {
        color: white;
        font-size: 3rem;
        font-weight: 400;
        span {
          font-weight: 700;
        }
      }
      p {
        font-size: 1rem;
        color: #a5a5a5;
      }
      .action-content {
        display: flex;
        margin-top: 3rem;
        .action-btn {
          border: none;
          color: white;
          font-size: 1.5rem;
          background: $action-green;
          padding: 0.6rem 1.8rem;
          margin-left: 1rem;
          margin-right: 1rem;
          cursor: pointer;
        }
        .mobile {
          display: block;
        }
        .desktop {
          display: none;
        }
      }
    }
  }
  .hero-img-desktop {
    display: none;
  }

  .hero-img-mobile {
    display: block;
  }
  .black-bg-overlay {
    display: block;
  }
}

@media (max-width: 500px) {
  .hero {
    height: 100vh;
    width: 100%;
    //display: none;

    .hero-content {
      height: 60%;
      width: 80vw;
      h1 {
        color: white;
        font-size: 2.4rem;
        font-weight: 400;
        span {
          font-weight: 700;
        }
      }
      p {
        font-size: 0.7rem;
        color: #a5a5a5;
      }
      .action-content {
        display: flex;
        margin-top: 3rem;
        .action-btn {
          font-size: 1rem;
        }
        .mobile {
          display: block;
        }
        .desktop {
          display: none;
        }
      }
    }
  }
}
