@import "./variables";

.silobags {
  display: flex;
  justify-content: center;
  align-items: center;
  .silobags-content {
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    //margin: 10rem;
    max-width: 75%;
    height: auto;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

    .silobags-content1 {
      display: flex;
      //border: 1px solid green;
      gap: 5rem;
      margin-bottom: 5rem;
      .info-pret {
        //width: 40%;

        h1 {
          position: relative;
          font-size: 5rem;
          font-weight: 400;
        }
        #silobags-underline {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          background-color: #000000;
          height: 6px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 20%;
        }
        p {
          font-size: 1rem;
        }
        .pret {
          display: flex;
          flex-direction: column;
          //justify-content: left;
          align-items: left;
          h2 {
            font-size: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
          p {
            font-size: 0.8rem;
            margin-top: 0;
          }
        }
        .contact {
          display: flex;
          justify-content: left;
          align-items: left;
          gap: 2rem;
          a {
            text-decoration: none;
            color: black;
            .fa-square-facebook {
              transition: all 0.3s ease;
              &:hover {
                color: #4267b2;
                transition: all 0.2s ease;
                transform: scale(1.1);
              }
            }
            .fa-square-whatsapp {
              transition: all 0.3s ease;
              &:hover {
                color: #25d366;
                transition: all 0.2s ease;
                transform: scale(1.1);
              }
            }
          }
        }
      }
      img {
        max-width: 60%;
        height: auto;
      }
    }
    .silobags-content2 {
      display: flex;
      //border: 1px solid blue;
      gap: 5rem;

      img {
        max-width: 50%;
        //height: 50%;
        height: auto;
      }
      .info-nota {
        p {
          //height: 100%;
          font-size: 1rem;
        }
        .nota {
          margin: 5rem 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h1 {
            position: relative;
            font-size: 3rem;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            width: 100%;
          }
          table {
            max-width: 80%;
            height: auto;
            //border: 2px solid black;
            td {
              padding: 10px 10px 0;
              border: 2px solid black;
            }
          }
        }
      }
    }
  }
}

#galerie-silobags {
  background: white;
  .galerie-content {
    max-width: 75%;
    #poza-galerie1 {
      grid-area: poza1;
      background-image: url(../images/silobags/galerie-1.jpg);
      // width: 100%;
      // height: 20rem;
      // max-width: 40rem;
    }
    #poza-galerie2 {
      grid-area: poza2;
      background-image: url(../images/silobags/galerie-2.jpg);
      //  width: 28rem;
      // //height: 100%;
    }
    #poza-galerie3 {
      grid-area: poza3;
      background-image: url(../images/silobags/galerie-3.jpg);
      background-position: center;
      // width: 28rem;
      // height: 34rem;
    }
    #poza-galerie4 {
      grid-area: poza4;
      background-image: url(../images/silobags/galerie-4.jpeg);
      // width: 45.3rem;
      // height: 34rem;
    }
    #poza-galerie5 {
      grid-area: poza5;
      background-image: url(../images/silobags/galerie-5.jpg);
      // width: 45.3rem;
      // height: 34rem;
    }
    #poza-galerie6 {
      grid-area: poza6;
      background-image: url(../images/silobags/galerie-6.jpg);
      //background-position: center;
      // width: 28rem;
      // height: 34rem;
    }
  }
  .nota-tabel {
    grid-area: titlu;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 36rem;
    h1 {
      position: relative;
      font-size: 4rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      width: 100%;
    }
    table {
      width: 100%;
      text-align: left;
      color: $text-grey;
      margin-top: 4rem;
    }
  }
}

@media (max-width: 1280px) {
  .silobags {
    .silobags-content {
      .silobags-content1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .info-pret {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h1 {
            position: relative;
            font-size: 4rem;
            font-weight: 400;
          }
          #silobags-underline {
            left: 0;
            bottom: 0;
            height: 3px;

            width: 100%;
          }
          p {
            text-align: center;
            font-size: 1rem;
            //height: 50%;
          }
        }
        img {
          //display: none;
          max-width: 80%;
        }
      }
      .silobags-content2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          display: none;
        }
        p {
          text-align: center;
          font-size: 1rem;
          //height: 50%;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  #galerie-silobags {
    .galerie-content {
      max-width: 100%;
    }
    #nota-tabel-mobile {
      display: block;
    }
    // #nota-tabel-desktop{
    //   display: none;
    // }
  }
}

#produse-footer {
  background: white;
}
