@import "./navbar";
@import "./hero";
@import "./variables";
@import "./de-ce-noi";
@import "./despre-noi";
@import "./galerie";
@import "./footer";
@import "./silobags";
@import "./utilaje";
@import "./contact";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins";
  //background: $navbar-green;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden !important;
}

#whatsapp-contact-fixed {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  img {
    width: 70px;
    height: 70px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: translateY(-0.5rem);
      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 1080px) {
  .underline {
    display: none;
  }
  html,
  body {
    width: 100vw !important;
  }
}
